wave_data
wave_images
ml_wave*
movies_ml
cuda_build
*.ipynb

__pycache__
.vscode
dist
build
*.egg-info
compare
*.lib
*.obj

movies
bin
archive
myfile.ptx
data/measured_traces
out_model.dat
sensor_out
simulation*/**/*.dat